<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:justify-content="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Recommended Items</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
<body>

<div class="container">
    <h2>
        Your Suggested Items
    </h2>
    <hr>

    <table class="table table-bordered table-striped">

        <thead class="thead-dark">
        <tr>
            <th>Cover</th>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Availability</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempItem : ${recommendedBooks}">
            <td><img th:src="${tempItem.getCover()}" border="3" height="200" width="140"> </td>
            <td th:text="${tempItem.getTitle()}"></td>
            <td th:text="${tempItem.getAuthor()}"></td>
            <td th:text="${tempItem.getGenre()}"></td>
            <td>
                <a th:href="@{/books/list(itemId=${tempItem.getItemId()})}" class="btn btn-primary btn-sm mb-3">
                    Check Availability
                </a>
            </td>
        </tr>
        </tbody>

    </table>
</div>

</body>
</html>