<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Catalog</title>

    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'  type='text/css'>

    <!-- star rating -->
    <link href="../static/css/StarRating.css">

</head>
<body>

<!-- NAVBAR. every page should have this -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="text-info display-4" style="font-family: Josefin Slab" th:href="@{/}">DAN'S LIBRARY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <!-- link to home page -->
            <li class="nav-item active mr-auto">
                <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>

            <!-- account dropdown options -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                </a>
                <div class="dropdown-menu" aria-labelledby="accountDropdown">
                    <a class="dropdown-item" href="#" th:href="@{/user/accountPage}">Account Page</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript: document.logoutForm.submit()"> Logout</a>
                    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                        <input hidden type="submit" value="Sign Out"/>
                    </form>
                </div>
            </li>

            <!-- employee services dropdown -->
            <!-- only available for employees -->
            <li class="nav-item dropdown" sec:authorize="hasRole('EMPLOYEE')">
                <a class="nav-link dropdown-toggle" href="#" id="employeeDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Employee Services
                </a>
                <div class="dropdown-menu" aria-labelledby="employeeDropdown">
                    <a class="dropdown-item" href="#" th:href="@{/employee/checkIn(bookId = 0)}">Check in books</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" th:href="@{/employee/checkOut(bookId = 0, userId=0)}">Check out books</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" th:href="@{/employee/addItem}">Add an item</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" th:href="@{/employee/addBook}">Add a book to inventory</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" th:href="@{/employee/removeBook}">Remove a book from inventory</a>
                </div>
            </li>

            <!-- browse dropdown options -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="browseDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Browse
                </a>
                <div class="dropdown-menu" aria-labelledby="browseDropdown">
                    <a class="dropdown-item" href="#" th:href="@{/collection/list}">All books</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" th:href="@{/recommended/recommendedBooks}">Recommended books</a>
                </div>
            </li>
        </ul>

        <!-- search option -->
        <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/collection/searchAny}" method="get">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" th:value="${searchVal}" name="searchVal">
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>


<div class="container">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 mx-auto">
        <form class="text-center border border-info p-5 form-horizontal" action="#" th:action="@{/reviews/confirmReview(userId=${userId}, itemId=${itemId})}" th:object="${reviewObject}" method="post" style="margin-top: 50px">
            <p class="h4 mb-4 text-info">Leave a review</p>
            <span class="text-info">Rating</span>
            <div style="margin-bottom: 25px" class="input-group">
                <select th:field="*{value}" class="form-control">
                    <option th:each="i : ${#numbers.sequence(1,5)}" th:value="${i}" th:text="${i}"></option>
                </select>
            </div>
            <span class="text-info">Leave a comment</span>
            <div style="margin-bottom: 25px" class="input-group">
                <textarea th:field="*{content}" class="form-control"></textarea>
            </div>
            <div style="margin-top: 6px; margin-left: auto" class="form-group">
                <input type="submit" value="Submit" class="btn btn-info">
            </div>
        </form>
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>