<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
<body>

    <h3>
        Thank you for reviewing <span th:text="${review.getReviewId().getItem().getTitle()}"></span>
    </h3>

    <table class="table table-bordered table-striped">

        <thead class="thead-dark">
        <tr>
            <th>Cover</th>
            <th>Title</th>
            <th>Rating</th>
            <th>Content</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td><img th:src="${review.getReviewId().getItem().getCover()}" border="3" height="200" width="140"> </td>
            <td th:text="${review.getReviewId().getItem().getTitle()}"></td>
            <td th:text="${review.getValue()}"></td>
            <td th:text="${review.getContent()}"></td>
        </tr>
        </tbody>

    </table>

    <a th:href="@{/user/accountPage}" class="btn btn-primary btn-sm mb-3">
        Back to account page
    </a>
    <br>
    <a th:href="@{/}" class="btn btn-primary btn-sm mb-3">
        Back to home page
    </a>

</body>
</html>