<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:justify-content="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Review Test Page</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
<body>

    <table class="table table-bordered table-striped">

        <thead class="thead-dark">
        <tr>
            <th>user_id</th>
            <th>title_id</th>
            <th>value</th>
            <th>content</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempReview : ${reviews}">
            <td th:text="${tempReview.getReviewId().getUser().getUsername()}"></td>
            <td th:text="${tempReview.getReviewId().getTitle().getTitle()}"></td>
            <td th:text="${tempReview.getValue()}"></td>
            <td th:text="${tempReview.getContent()}"></td>
        </tr>
        </tbody>

    </table>

</body>
</html>